html {
  font-size: 13px;
}
body {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}
.top-menu {
  border-bottom: 1px solid #c4c4c4;
  overflow: auto;
}
.menu-block {
  cursor: pointer;
  float: left;
  width: 120px;
  margin: 5px 0 0 10px;
}
.menu-block i.ion-navicon {
  float: left;
  font-size: 3rem;
}
div.menu {
  border-right: 1px solid #c4c4c4;
  font-size: 1.8rem;
  margin: 6px 0 6px 35px;
  padding-right: 20px;
}
.side-menu {
  background-color: #e8e8e8;
  width: 300px;
  border-right: 1px solid lightgray;
}
.side-menu h3 {
  font-weight: 200;
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.side-menu h3:hover {
  background-color: #cfcfcf;
}
.side-menu i {
  min-width: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  .extra-side-menu-width {
    padding-left: 300px !important;
  }
}
